<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans     
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
	http://www.springframework.org/schema/context  
	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util-4.0.xsd">
	<!-- 任务调动配置 -->

	<!-- 调度工厂 -->
	<bean id="SpringJobSchedulerFactoryBean"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="cacheUpdateTrigger" />
				<ref bean="handleFailureInvoicesTrigger" />
			</list>
		</property>
	</bean>

	<!-- 缓存更新 -->
	<bean id="cacheUpdateTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"
		p:jobDetail-ref="cacheUpdateJob" p:cronExpression="0 0 8,13,18 * * ?" />

	<bean id="cacheUpdateJob"
		class="org.springframework.scheduling.quartz.JobDetailFactoryBean"
		p:name="cacheUpdateJob" p:jobClass="com.changhongit.loan.job.CacheUpdateJob"
		p:applicationContextJobDataKey="applicationContext">
	</bean>

	<!-- 处理创建发票失败 -->
	<bean id="handleFailureInvoicesTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"
		p:jobDetail-ref="handleFailureInvoicesJob" p:cronExpression="0 10 8,13,18 * * ?" />

	<bean id="handleFailureInvoicesJob"
		class="org.springframework.scheduling.quartz.JobDetailFactoryBean"
		p:name="handleFailureInvoicesJob" p:jobClass="com.changhongit.loan.job.HandleFailureInvoicesJob"
		p:applicationContextJobDataKey="applicationContext">
	</bean>

</beans>